NODE_ENV=development
HOST=0.0.0.0
PORT=3333
JWT_SECRET=change-me-super-secret
USE_MOCK_MODE=false

# postgresql | mysql
DATABASE_PROVIDER=postgresql
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/controle_financeiro?schema=public"

# API Keys de IA (opcionais)
API_KEY_OPENAI=
API_KEY_GEMINI=
API_KEY_AI=
AI_PROVIDER=openai
OPENAI_MODEL=gpt-4.1-mini
GEMINI_MODEL=gemini-2.5-flash
